/MachineLearning.py
/MachineLearning_CaseStudy.py
/Regression_Performance_Evaluation_Tugas_Praktek.py
/Simple_Regression_Model_Tugas_Praktek.py
/Skicit_Learn_1.py
/Supervised_Learning.py
/Supervised_Learning_Tugas_Praktek.py
/Unsupervised_Learning.py